@import 'modal.css';
@import 'select.css';
@import 'datepicker.css';
@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #edf1f5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
    margin: 50px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: #edf1f5;
    border-radius: 100px;
    margin: 1px;
}
*::-webkit-scrollbar-thumb {
    background-color: #d7e1ec;
    border-radius: 14px;
}

.small-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(173, 167, 167);
}

/* Chrome, Edge, and Safari */
.small-scroll::-webkit-scrollbar {
    width: 3px;
    margin: 50px;
    height: 3px;
}

.small-scroll::-webkit-scrollbar-track {
    background: #edf1f5;
    border-radius: 100px;
    margin: 1px;
}
.small-scroll::-webkit-scrollbar-thumb {
    background-color: #d7e1ec;
    border-radius: 14px;
}

/* Hide the visual scrollbar */
.submenu::-webkit-scrollbar {
    width: 0.5em; /* Adjust this width as needed */
}

/* Track */
.submenu::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
}

/* Handle */
.submenu::-webkit-scrollbar-thumb {
    background: transparent; /* Make the scrollbar thumb (handle) transparent */
}

.AccordionChevron {
    transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
}

.AccordionContent {
    overflow: hidden;
}
.AccordionContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}

body,
#root {
    height: inherit;
}
